{% extends 'base.html.twig' %}

{% block title %}Super home page{% endblock %}

{% block body %}
    <div class="jumbotron">
        {% if advertisement.content|trim == 'symfony' %}
            <h1 class="display-4">Hello,</h1>
            <p class="lead">you may be interested in NFQ Academy</p>
        {% elseif not advertisement.content %}
            <h1 class="display-4">Hello,</h1>
            <p class="lead">maybe you want to log in?</p>
        {% else %}
            <h1 class="display-4">Hello,</h1>
            <p class="lead">happy to see you here</p>
            {% if app.environment == 'dev'  %}
                <pre>{{ dump(advertisement) }}</pre>
            {% endif %}
        {% endif %}


        {% block nfq_academy %}{% endblock %}
    </div>
{% endblock %}
