{% extends 'base.html.twig' %}

{% block title %}Slides{% endblock %}

{% block body %}

<ul class="list-group">
    {% for page in pages %}
        <li class="list-group-item">
            <span class="badge badge-primary badge-pill">{{ page.id }}</span>
            {{ page.content }}
        </li>
    {% endfor %}
</ul>

{% endblock %}
