{% extends 'base.html.twig' %}

{% block title %}Slides{% endblock %}

{% block body %}

<div class="example-wrapper">
    {% for page in pages %}
        <div><b>{{ page.id }}</b> {{ page.content }}</div>
    {% endfor %}
</div>
{% endblock %}
