<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

        {% block navigation %}{% if navigation.current is defined %}
            {{ include('parts/navigation.html.twig', {current: navigation.current}) }}
        {% else %}
            {{ include('parts/navigation.html.twig', {current: ''}) }}
        {% endif %}{% endblock %}
    </body>
</html>
